# R build artifacts
inst/doc/
*.Rcheck/
*.tar.gz
*.md
!README.md
!NEWS.md
!cran-comments.md
figure/
Rplots.pdf

# R user files
.Rhistory
.RData
.Rproj.user
.Renviron

# Common OS files
.DS_Store
Thumbs.db

# Your custom folders
/doc/
/Meta/
